$background1: rgb(186, 73, 73);
$mainWidth: 500px;
$mainBorder: 5px;

.tasks {
  width: $mainWidth;
  display: flex;
  margin: 20px 0;
  height: 70px;
  background-color: #fff;
  border-radius: 10px;

  .tasksText {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 10px;
    width: 80%;
    img {
      margin-left: 5px;
    }
    p {
      margin-left: 10px;
    }
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    i,
    p {
      margin-right: 10px;
    }
    i {
      font-size: 30px;
    }
  }
}

.Endtasks {
  width: $mainWidth;
  display: flex;
  margin: 20px 0;
  height: 70px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.8;

  .tasksText {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 10px;
    width: 80%;
    text-decoration: line-through;
    text-decoration-style: dash;
    img {
      margin-left: 5px;
    }
    p {
      margin-left: 10px;
    }
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    i,
    p {
      margin-right: 10px;
    }
    i {
      font-size: 30px;
    }
  }
}

.addTask {
  width: $mainWidth;
  border-radius: $mainBorder;
  border: 2px dashed #fff;
  background-color: hsla(0, 15%, 75%, 0.1);
  color: hsl(0, 0%, 100%);
  opacity: 0.8;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    cursor: pointer;

    i {
      font-size: 25px;
      margin: 10px;
    }
  }
}

.newTask {
  width: $mainWidth;
  border-radius: $mainBorder;
  background-color: #fff;
  margin-top: 20px;

  .inputValue {
    height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;

    .newItemText {
      height: 50px;
      width: 100%;
      font-size: 16px;
    }
    .newItemText:focus {
      outline: none;
    }
  }

  .setNumber {
    margin-left: 20px;
    .title {
      opacity: 0.8;
    }

    .values {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: rgb(200, 200, 200);
        border-radius: 2px;
        text-align: center;
        font-size: 20px;
        opacity: 0.9;
      }

      button {
        background-color: #f2f2f2;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin: 5px;
        img {
          margin: 10px;
          opacity: 0.8;
        }
      }
    }
  }

  .saveOrcancel {
    background-color: #efefef;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      opacity: 0.7;
      width: 100px;
      height: 50px;
      margin-right: 20px;
    }

    .save {
      background-color: black;
      border-radius: 5px;
      color: #fff;
    }
  }
}
