$whiteColor: white;
$lineColor: rgba(0, 0, 0, 0.3);
$inputBgColor: rgba(0, 0, 0, 0.1);
$buttonColorBlack: rgba(10, 10, 10, 0.9);
$buttonColorBlackHover: rgba(0, 0, 0, 0.8);

.settings {
  width: 500px;
  height: 100%;
  margin: 5px 0 25px 0;
  border-bottom: 1px solid $whiteColor;
  opacity: 0.8;
  div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    color: $whiteColor;

    a {
      font-size: 20px;
      opacity: 0.9;
    }
    a:hover {
      opacity: 1;
    }
    div {
      button {
        height: 30px;
        width: 80px;
        margin-left: 10px;
        font-size: 14px;
        background-color: hsla(0, 0%, 100%, 0.2);
        border-radius: 5px;
      }
      button:hover {
        background-color: hsla(0, 0%, 100%, 0.4);
      }
    }
  }
}

.setting {
  background-color: hsla(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  pointer-events: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease-in 0s;
  overflow: hidden scroll;
  padding: 48px 0px 58px;
  box-sizing: border-box;
  .container {
    background-color: $whiteColor;
    width: 500px;
    .headerTitle {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 2px solid $lineColor;
    }

    .timerSettting {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 5px solid black;
    }

    .longBreakInterval {
      border-bottom: 5px solid black;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      div {
        display: flex;
        width: 400px;
        display: flex;
        align-items: center;
        div {
          margin-left: 20px;
          input {
            background-color: $inputBgColor;
            border-radius: 3px;
            margin-left: 50px;
            height: 40px;
          }
        }
      }
    }

    .themesetting {
      div {
        width: 500px;
        height: 100%;
        margin: 5px 0 20px 0;
        opacity: 0.8;
        a {
          width: 500px;
          height: 100%;
          margin: 15px;
          border-bottom: 1px solid $whiteColor;
          opacity: 0.8;
        }
        button {
          border: none;
          border-radius: 20%;
          padding: 18px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
        }
        button:nth-child(2) {
          background-color: #ba4949;
          margin-left: 40%;
        }
        button:nth-child(3) {
          background-color: #38858a;
        }
        button:nth-child(4) {
          background-color: #397097;
        }
      }
    }
    .colorsetting {
      div {
        width: 500px;
        height: 100%;
        margin: 5px 0 20px 0;
        opacity: 0.8;
        button {
          border: none;
          border-radius: 20%;
          padding: 18px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
        }
        button:nth-child(2) {
          background-color: #ba4949;
        }
        button:nth-child(3) {
          background-color: #38858a;
        }
        button:nth-child(4) {
          background-color: #397097;
        }
        button:nth-child(5) {
          background-color: #babec2;
        }
        button:nth-child(6) {
          background-color: #c113c7;
        }
        button:nth-child(7) {
          background-color: #2ae211;
        }
        button:nth-child(8) {
          margin-left: 40%;
          background-color: $buttonColorBlack;
          color: $whiteColor;
        }
      }
    }

    .modal {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      margin: 10px;
      button {
        margin: 0 20px;
        width: 100px;
        height: 50px;
      }
      button:nth-child(1) {
        background-color: $buttonColorBlack;
        border-radius: 5px;
        color: $whiteColor;
      }
      button:nth-child(2) {
        background-color: $buttonColorBlack;
        border-radius: 5px;
        color: $whiteColor;
      }
      button:nth-child(1):hover,
      button:nth-child(2):hover {
        opacity: 0.8;
        cursor: crosshair;
        font-size: 17px;
        transition: 0.3s;
      }
    }
  }
}
